<div class="row" ng-controller="task2Ctrl">
    <div class="col-md-12">
        <b>
            <i>Total Post: </i>
        </b>
        {{settings.total}}
    </div>
    <div class="col-md-12">
        <span style="float: left; width: 75px; margin-left: 25px;">
            <b>
                <i>Post Type 1: </i>
            </b>
             {{settings[1]}}
            <p></p>
        </span>
        <span style="float: left; width: 75px; margin-left: 25px;">
            <b>
                <i>Post Type 2: </i>
            </b>
            {{settings[2]}}
            <p></p>
        </span>
        <span style="float: left; width: 75px; margin-left: 25px;">
             <b>
                <i>Post Type 4: </i>
            </b>
             {{settings[4]}}
            <p></p>
        </span>
        <span style="float: left; width: 75px; margin-left: 25px;">
             <b>
                <i>Post Type 5: </i>
            </b>
             {{settings[5]}}
            <p></p>
        </span>
        
    </div>
</div>