.dpSmall{
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    float: left;
}
.dpUserName{
    width: 350px;
    height: 35px;
    display: inline-block;
    padding-top: 6px;
    padding-left: 15px;
    font-weight: 600;
    font-size: 16px;
}
.postTag{
    margin-right: 5px;
    background-color: #ef5350;
    border-color: #ef5350;
}
.postTag:hover{
    margin-right: 5px;
    background-color: #ef9a9a;
    border-color: #ef9a9a;
}
.postDetails{
    font-size: 14px;
}
.postDetails img{
    padding-right: 5px;
    width: 25px;
    cursor: pointer;
}
.postLink{
    font-size: 15px;
}
.postLink a{
    padding-right: 10px;
}
.postFullContainer{
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;
    padding: 15px;
    border-radius: 10px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #ef5350;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}